
server {
	listen 8080;

    host localhost; // or 8.8.8.8

	server_name localhost;

    root /www;

	error_page 404.html;

	client_max_body_size 500K;
	
    
	autoindex 0;

	location / {

		method GET;

        root /www/aaa/;

		default_answer index.html page.html;
        
        client_max_body_size 5M;
	}

    location /php/ {

		method GET;

        root /www/aaa/;

		default_answer index.html page.html;
        
        client_max_body_size 5M;

        cgi_extension php;

		cgi_path localhost:9000;
	}

	location /upload {

		method POST;
		
        accept_upload 1;

		upload_path /tmp/uploads/;
	
    }
}


server {

	listen 5000;
    
    host localhost;
	
    server_name localhost 127.0.0.1;

	autoindex 1;

	location / {

		root /home/42/website;

		cgi_extension php;

		cgi_path localhost:9000;

	}
}
