
server {
	listen 8080;
    host localhost;
	server_name localhost;// abc.com https, 
    root /www;
	error_page 404.html;
	client_max_body_size 500K;
	autoindex 0;

	location / {
		method GET POST;
        root /www/aaa/;
		default_answer index.html page.html;
        client_max_body_size 5M;
		cgi_path localhost:90008;
	}

	location /hello {
		method GET DELETE;
        root /www/aaa222/;
		default_answer index.html page.html;
        client_max_body_size 5M;

		cgi_path php_localhost:90008purl localhost:90008purl;
	}

    location /php/ {
		method GET;
        root /www/aaa/;
		default_answer index.html page.html;
        client_max_body_size 5M;
        cgi_extension php;
		cgi_path localhost:90009;
	}

	location /upload/php/hello {
		method POST;
        accept_upload 1;
		upload_path /tmp/uploads/;
		cgi_path localhost:900099;
    }
}



server {
	listen 8080;
    host localhost;
    server_name 127.0.0.1;
	autoindex 1;

	location /php/something/hello {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:90001;
	}

	location / {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:90002;
	}

	location /php/something {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:90003;
	}
}

server {
	listen 5000;
    host localhost;
    server_name 127.0.0.1;
	autoindex 1;

	location / {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:9000;
	}
}

server {
	listen 5000;
    host localhost;
    server_name 127.0.0.2;
	autoindex 1;

	location / {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:9000;
	}
}


server {
	listen 8080;
    host localhost;
    server_name 127.0.8.8;
	autoindex 1;

	location / {
		root /home/42/website;
		cgi_extension php;
		cgi_path localhost:9000;
	}
}